 
    body {
        background: black;
        font-family: 'Nova Mono', monospace;
      }
      
      h1{
      font-size: 15px;
      color: #665e5e;
      }
      
      #The-main-container{
          border: 1px solid black;
          width: 40%;
          height: auto;
          margin: auto;
          padding: 8px 0px 15px 0px;
          background: #24232B;
      }
      
      
      h1 {
        text-align: center;
        font-family: 'Nova Mono', monospace;
      }
      
      .password-container {
          /* border: 1.5px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        justify-content: space-between;
        width: 90%;
        margin: auto;
      }
      
      #for-black-space{
          /* border: 2px solid red; */
          width: 100%;
          height: 30px;
          background:black;
      }
      
      #password-input {
        width:60%;
        padding: 7px;
        border-style: hidden;
        background-color: #24232B;
        color: white;
      }
      
      #copy-button {
        padding: 4px 7px 4px 3px;
        background: #24232B;
        color:#4CAF50;
        border: none;
        cursor: pointer;
      }
      
      
      #CHRlength-container{
          /* border: 1px dotted green; */
          display: flex;
          justify-content: space-between;
          color: white;
          width: 90%;
        margin: auto;
        
      
      
      }
      
      .dragbar-container {
          /* border: 2px solid white; */
        width: 90%;
        margin: auto;
      }
      
      
      #dragbar-count{
          color: #4CAF50;
      }
      
      /* style="accent-color:#A4FFAF"  */
      #dragbar {
        width: 100%;
        accent-color:#4CAF50 ;
       }
      
      
      
      .options-container {
          /* border: 1px solid red; */
        color: white;
        width: 90%;
        margin: auto;
        margin-top: 15px;
      }
      
      .options-container label {
        margin-top: 5px;
        display: block;
        
      }
      
      
      .bar-container {
          /* border: 1px dotted blue; */
        display: flex;
       
        justify-content: space-between;
        padding: 11px;
        color: white;
        background: #18171F;
        width: 85%;
        margin: auto;
        margin-top: 30px;
        font-size: 10PX;
        align-items: center;
      }
      
      .bar {
       border: 1.5px solid white;
        width: 4px;
        height: 15px;
        margin: 0 3px;
        
      }
      
      .bar-second-container{
          display: flex;
      }
      
      #generate-button {
        display: block;
        padding: 10px 20px;
        background: #A4FFAF;
        color: black;
        border: none;
        cursor: pointer;
        /* border: 2px solid tomato; */
        width: 90%;
        margin: auto;
        margin-top: 30px;
        font-weight: bold;
      }
      
      